<div class="main">
<!--==============================Content=================================-->
	<div class="content"><div class="ic">More Website Templates @ TemplateMonster.com - December 16, 2013!</div>
		<div class="container_12">
			<div class="grid_8">
				<h3>FLEXIBLE VOLUNTEER OPPORTUNITIES</h3>
				<%= image_tag "page4_img1.jpg", alt: "", class: "img_inner fleft"%>
				<div class="extra_wrapper">
					<p class="p1 col1"><a href="#">Ned ut perspiciatis unde omnis iste natus error sit voluptatem.</a></p>
					<p class="p2">
					Incididunt ut labore et dolore magna iqua. Ut enimad minim veniam, quis noud ecittion ullamco laboris nisi ut aliquip ex ea coodo consequat.Duis aute irure dolor in repderit in voluptate velit esse cillum dolore iat nulla pariavturuis nostrud.
					</p>
				</div>
				<div class="clear"></div>
				Duis aute irure dolor in reprehederit in voluptate velit.sse cillum dolore. Eu fugiat nulla pariatur. Quis nostrud exercitation.Llamco laboris nisi utaliquip ex ea commodo consequat aute irure dolor in reprehenderit in voluptate velit essetsr cillum dolore eu fugiat nulla pariatur.<br>
				<a href="#" class="btn bt1">Read More</a>
				<div class="style1">
					<h3>volunteer Vacancies</h3>
					<p class="col1"><a href="#">Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis.</a></p>
					<p>Incididunt ut labore et dolore magna iqua. Ut enimad minim veniam, quis nostrud ttion ullamco laboris nisi ut aliquip ex ea modo consequat.Duis aute irure dolor in ehederit in voluptate velit esse cillum dolore. Eu fugiat nulla pariavtur. </p>
					<p class="col1"><a href="#">Asertminima basereniam, feris nostrum exercitationem bertllam corpori.</a></p>
					<p>Dertcididunt ut labore et dolore magna iqua. Ut enimad minim veniam, quis nostrud ttion ullamco laboris nisi ut aliquip ex ea modo consequat.Duis aute irure dolor in ehederit in voluptate velit esse cillum dolore. Eu fugiat nulla pariavtur. Quis nostrud exercitationullamco laboris nisi utaliquip ex ea commodo consequat aute irure dolor in reprehenderit in volupta velit essetsr cillum dolore eu fugiat nulla pariatur. </p>
					<p class="col1"><a href="#">sertoli nokolieris nostrum exercitationem bertllam corporidr. Sameto messr fabio del.</a></p>
					Ut enimad minim veniam, quis nostrud ttion ullamco laboris nisi ut aliquip ex ea modo consequat. Duis aute irure dolor in ehederit in voluptate velit esse cillum dolore. Eu fugiat nulla pariavtur. Quis nostrud exercitation.
				</div>
			</div>
			<div class="grid_4 ">
				<a href="#" class="donate">Donate</a>
				<h4>BROWSE BY FOCUS AREA</h4>
				<ul class="list">
					<li><a href="#">Education (219)</a></li>
					<li><a href="#">Children (189)</a></li>
					<li><a href="#">Health (102)</a></li>
					<li><a href="#">Poverty (103)</a></li>
					<li><a href="#">Environment (76)</a></li>
					<li><a href="#">Economic Development (71)</a></li>
					<li><a href="#">Human Rights (37)</a></li>
					<li><a href="#">Gender &amp; Equality (58)</a></li>
					<li><a href="#">Technology (22)</a></li>
					<li><a href="#">Microfinance (23)</a></li>
					<li><a href="#">Arts (31)</a></li>
					<li><a href="#">Disaster Relief (7)</a></li>
				</ul>
				<h4 class="head1">BROWSE BY REGION</h4>
				<ul class="list l1">
					<li><a href="#">Latin America &amp; Caribbean (102)</a></li>
					<li><a href="#">Northern America (72)</a></li>
					<li><a href="#">Africa (58)</a></li>
					<li><a href="#">Asia (52)</a></li>
					<li><a href="#">Europe (18)</a></li>
					<li><a href="#">Australia &amp; Oceania </a></li>
				</ul>
			</div>
		</div>
	</div>
</div>